**/_ReSharper.Caches/**
Server/_ReSharper.Caches/**
/Temp/**
/Library/**
.hg/**
.hgignore
.hgtags
**/.vs/**
*.csproj
**/*.user
*.sln
*.user.*
/UserSettings/**
/_Builds/**
/_GameSavedData/**
/Screenshots/**
BattleTester/obj/*
/obj/Debug/**
BattleTester/bin/*
KillerShotOnline/bin/*
Server/*/obj/*
Server/*/bin/*
*.orig
*.orig.meta
**/Logs/*
KillerShotOnline/UserSettings/*
KillerShotOnline/Assets/StreamingAssets/aa
KillerShotOnline/Assets/StreamingAssets/aa.meta
KillerShotOnline/AssetBundles
KillerShotOnline/Assets/StreamingAssets/Bundles
**/.idea/**
KillerShotOnline/Assets/StreamingAssets/Bundles.meta
Server/Lobby/.idea
